@import "imports/aek-css-config";

// additional styles below

//main.jsx

#menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin :0;
  display: block;
}

#menuContent {
  width: 100%;
  margin: 0;
}

#mainButton {
  width:33.3%;
  font-size: 3vw;
  text-align: center;
}

#altMainButton {
  width: 50%;
}

//welcome.jsx

#welcomeLabel {
  font-size: 3vw;
}

//eventDetails.jsx

#secondaryButtonWing {
  margin-top: 20px;
  width: 25%;
  font-size: 3vw;
}

#secondaryButtonCenter {
  margin-top: 20px;
  width: 50%;
  font-size: 3vw;
}

#detailsLabel {
  font-size: 3vw;
}

#info {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 150px;
}

//events.jsx

#header {
  font-size: 5vw;
}

#eventLabel {
  position: relative;
  font-size: 3vw;
}

#eventTitle {
  font-size: 3vw;
  padding-left: 15px;
  padding-right: 0;
}

#eventDate {
  font-size: 3vw;
  vertical-align: middle;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
    vertical-align: middle;
}

//news.jsx

#newsTitle {
  font-size: 3vw;
  padding-left: 15px;
  padding-right: 0;
}

#publishDate {
  font-size: 3vw;
}

//All pages

#warning {
  font-size: 3vw;
}

.maxWidth {
  width: 100%;
}

.maxHeight {
  height: 100%
}
