@import "imports/aek-css-config";

// additional styles below

//main.jsx

#menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin :0;
  display: block;
}

#menuContent {
  width: 100%;
  margin: 0;
}

#mainButton {
  width:33.3%;
}

#altMainButton {
  width: 50%;
}

//eventDetails.jsx

#secondaryButtonWing {
  margin-top: 20px;
  width: 25%;
}

#secondaryButtonCenter {
  margin-top: 20px;
  width: 50%;
}

//All pages

.maxWidth {
  width: 100%;
}

.maxHeight {
  height: 100%
}
